<p id="notice"><%= notice %></p>

<h1>Investment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investment_types.each do |investment_type| %>
      <tr>
        <td><%= investment_type.name %></td>
        <td><%= investment_type.description %></td>
        <td><%= link_to 'Show', investment_type %></td>
        <td><%= link_to 'Edit', edit_investment_type_path(investment_type) %></td>
        <td><%= link_to 'Destroy', investment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment Type', new_investment_type_path %>
